.shake {
  animation: shake .7s;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0px);
  }
  20%,
  80% {
    transform: translateX(-3px) rotate(-7deg);
  }
  40%,
  60% {
    transform: translateX(3px) rotate(7deg);
  }
  50% {
    transform: translateX(0px);
  }
}
.cart-wrapper {
  position: relative;
  float: right;
}
.cart {
  position: absolute;
  /* width: 50px; */
  /* height: 50px; */
  top: 15px;
  right: 40px;
  cursor: pointer;
}
.cart-modal {
  position: absolute;
  padding: 0;
  top: 70px;
  right: 40px;
  width: max-content;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  display: none;
  z-index: 1;
}
.cart-modal.active {
  display: block;
}
.cart-modal::before {
  content: '';
  position: absolute;
  top: -10px;
  right: 10px;
  width: 0px;
  height: 0px;
  border-bottom: solid 10px white;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}
.badge {
  top: 8px;
  left: -50px;
  position: absolute;
}

.cart-item {
  padding: 10px;
  min-width: 240px;
  cursor: pointer;
}

.cart-item:hover {
  background: #005238;
  color: #fff;
  font-weight: bold;
}

.cart-item img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  display: inline-block;
  vertical-align: bottom;
}

.cart-item div {
  display: inline-block;
  padding-left: 10px;
}

.cart-item .status {
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
}