.button-order {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #005238;
  position: fixed;
  top: 50%;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  padding-top: 35px;
  font-weight: bold;
  opacity: 0.9;

  -webkit-transition: box-shadow 0.2s ease;
  -moz-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  text-align: center;
  text-transform: lowercase;
}

.button-order:hover {
  box-shadow: 0 0 0 7px #97824b;
}
.button-order:hover:before {
  -webkit-transform: scale(0.925);
  -moz-transform: scale(0.925);
  -ms-transform: scale(0.925);
  -o-transform: scale(0.925);
  transform: scale(0.925);
  box-shadow: 0 0 0 1px #97824b;
  opacity: .5;
}
.button-order:before {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 50%;
  bottom: 0;
  box-shadow: 0 0 0 1px #97824b;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.number-order {
  color: #fff;
  padding-top: 30px;
}

.number-order i {
  margin: 15px;
}

.number-order span {
  font-size: 38px;
  font-weight: bold;
  line-height: 40px;
}