.row {
    margin: 20px 20px;
}
img {
    object-fit: cover
}
.main-card img {
    margin: 20px 0;
    width: 80%;
    height: 150px;
}
.main-card p {
    width: 100%; 
    text-align: center; 
    font-weight: bold; 
    font-size: 25px; 
    margin: 0;
}
.no-padding {
    padding: 0!important;
}