.table-container {
	height: 80vh;
	border: 2px solid black;
}
.table-container > div{
	display: inline-block;

	.table-wrapper {
		width: 100px;
		height: 100px;
		background: center no-repeat;
		background-size: cover;
		display: flex;
		margin: 20px 30px;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.table-number {
			width: 50%;
			text-align: center
		}
	}
}